<md-card>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Categoria 1">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select>  
      </div>
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Producto 1">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select> 
      </div>
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Categoria 2">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select>  
      </div>
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Producto 2">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select> 
      </div>
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Categoria 3">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select>  
      </div>
      <div fxFlex>
          Selecciona producto: 
          <md-select placeholder="Producto 3">
            <md-option *ngFor="let product of products" [value]="product.id">
              {{ product.name }}
            </md-option>
          </md-select> 
      </div>
  </div>

  <div class="container save" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex>
          <button md-raised-button>Guardar</button>
      </div>
  </div>
</md-card>