<div class="wrapper">
  <h2>Semana 1</h2>

  <md-input-container>
    <textarea mdInput placeholder="Plagas" value=""></textarea>
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Crecimiento" value=""></textarea>
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Eventos Climáticos" value=""></textarea>
  </md-input-container>
</div>

<section>
  <table>
    <tr>
      <th>Riego</th>
      <th>Desmalezado</th>
      <th>Abono</th>
    </tr>
    <tr>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Lunes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Lunes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Lunes</md-checkbox></td>
    </tr>
    <tr>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Martes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Martes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Martes</md-checkbox></td>
    </tr>
    <tr>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Miercoles</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Miercoles</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Miercoles</md-checkbox></td>
    </tr>
    <tr>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Jueves</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Jueves</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Jueves</md-checkbox></td>
    </tr>
    <tr>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Viernes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Viernes</md-checkbox></td>
      <td><md-checkbox class="example-margin" [(ngModel)]="checked" ngDefaultControl>Viernes</md-checkbox></td>
    </tr>
  </table>
</section>

<div class="wrapper">
  <md-input-container>
    <textarea mdInput placeholder="Nota" value=""></textarea>
  </md-input-container>
</div>